name: Push to Private Hackathons repo
run-name: Syncing hackathons-private
on: push
permissions:
  contents: read

jobs:
  push_to_private:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout private repository
      uses: actions/checkout@v4
      with:
        repository: pinnacle-dev/hackathons-private
        token: ${{ secrets.PRIVATE_HACKATHONS_TOKEN }}
  
    - name: Push to private repository
      run: |
          git config --global user.name 'Hackathons Sync Action'
          git config --global user.email 'founders@trypinnacle.app'
          git remote add public https://github.com/pinnacle-dev/hackathons
          git fetch public
          git checkout public/main
          git switch -c hackathon/sync-updates
          rm -rf .github
          git add .
          git commit --amend --no-edit
          git checkout main
          git merge hackathon/sync-updates --no-commit
          git push origin main